language: python

python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"
    - "3.7-dev"
    - "pypy"
    - "pypy3"

before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -y mediainfo

install:
    - pip install --upgrade setuptools coveralls

script:
    - coverage run --branch --include="vod_metadata/*" setup.py test

after_success:
    - coveralls

notifications:
    email: false
